<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire d'ajout</title>
</head>
<body>
    <h1>Remplissez les element pour ajouter un compte et un mot de passe</h1>
    <form action="/create_mdp" method="post">
        <label for="nom_site">Nom du site:</label>
        <input type="text" id="nom_site" name="nom_site" required>
        <br>
        <button type="submit">Generer</button>
    </form>
</body>
</html>