<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil - Gestionnaire de MDP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <h1>Tableau de bord</h1>
    <div>
        <p>Comptes enregistrés : {{ stats.total }}</p>
        <p>Score de sécurité moyen : {{ stats.moyenne }}/100</p>
        <p>Mots de passe vulnérables : {{ stats.faibles }}</p>
    </div>
    <hr>
    <br>
    <br>

    <form action="/rechercher" method="GET" >
        <div class="search-bar">
            <input type="text" name="query" placeholder="Rechercher un site ou catégorie">
            <button type="submit" class="bouton">Rechercher</button>
        </div>
        
    </form>
    <br>
    <a href="/form"><button class="bouton">Ajouter un compte</button></a>
    <a href="/liste"><button class="bouton">Voir tous les comptes</button></a>
    {% if doublons %}
        <div style="background-color: #ffcccc; border: 2px solid red; padding: 10px; margin-bottom: 20px;">
        <h3 style="color: red; margin-top: 0;"> Alerte Sécurité : Mots de passe en double</h3>
        <ul>
            {% for mdp, sites in doublons.items() %}
                <li>Le mot de passe <code>{{ mdp }}</code> est utilisé pour : <strong>{{ sites|join(', ') }}</strong></li>
            {% endfor %}
        </ul>
        <p><em>Conseil : Utilisez un mot de passe unique pour chaque service.</em></p>
        </div>
{% endif %}
</body>
</html>